@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap");

* {
  margin: 0;
}

:root {
  /* VS CODE DARK THEME */
  --background: #191919;
  --background_light: #2d2d2d;
  --background_medium: #252526;
  --background_footer: #007acc;
  --code: #868585;

  /* HTML COLORS */
  --logo_html: #c5662e;

  /* JAVASCRIPT COLORS */
  --logo_js: #cbcb3f;
  --logo_jsx: #00d8ff;
  --constant: #569cd6;
  --constant_brackets: #1a79de;
  --variable: #5faceb;
  --parameter: #7cdcfe;

  --function: #dedba4;
  --function_brackets: #d8b709;
  
  --conditional: #c686be;
  --conditional_brackets: #b05c9a;
  
  --string: #ce7f48;
  --number: #8ab590;
  --comment: #56874e;
  
}

body {
  background-color: var(--background);
  color: white;
  font-family: "Source Code Pro", monospace;
  font-size: 1.3rem;
  font-weight: bolder;
  margin: 0;
  display: grid;
  /* grid-template-rows: 5vh minmax(90vh, max-content) 5vh; */
  grid-template-rows: minmax(5vh, max-content) 90vh 5vh;
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
}

/*** NAVBAR  ***/
nav {
  background-color: var(--background_medium);
  display: flex;
}

nav > button {
  align-items: center;
  border: none;
  background-color: var(--background_light);
  border-right: 1px solid var(--background);
  color: var(--code);
  cursor: pointer;
  display: flex;
  font-size: 1.3rem;
  font-family: "Source Code Pro", monospace;
  font-weight: bold;
  padding: 0.25rem 3rem 0.25rem 1rem;
  text-decoration: none;
}


.nav-active {
  background-color: var(--background);
  color: white;
}

nav > button > img {
  margin-right: 5px;
}

/*** MAIN  ****/
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 0.5rem;
}


/*** FOOTER ***/
footer {
  align-items: center;
  background-color: var(--background_footer);
  display: flex;
  justify-content: space-around;
  text-align: center;
}

footer > a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

/*** ABOUT  ***/
main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0 auto;
  font-size: 2rem;
  overflow-y: scroll;
}

main > h1 {
  font-size: 4rem;
}

/*** PROJECTS  ***/
.projects {
  font-size: 1.4rem;
  justify-content: start;
  gap: 0;
}

.projects > p {
  margin: 0;
  justify-content: start;
}

.projects > h3 {
  margin: 0;
}

.projects > h4 {
  margin-top: 1rem;
  width: fit-content;
}

.projects a {
  color: var(--string);
}

.projects a:hover {
  color: #f89956
}

.carousel {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr max-content;
  padding: 1ch 2ch;
  padding-left: 2ch;
  border-left: 1px solid var(--function_brackets);
}

.carousel > h4 {
  grid-column: 1/4;
}

.carousel > div {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  justify-content: space-around;
}

.carousel img {
  background-color: var(--background_light);
}

.tab {
  margin-left: 2ch;
}


/*** CONTACT  ***/
.contact {
  font-size: 1.5rem;
  justify-content: start;
}

.border-left-function {
  border-left: 1px solid var(--function_brackets);
}

.contact > article {
  width: clamp(390px, 70vw);
}

.contact > article > p {
  width: fit-content;
}

.contact input, .contact textarea {
  background: var(--background_light);
  color: var(--code);
  font-size: 1.3rem;
  border: none;
  text-align: left;
  margin: 0.5rem;
  padding: 0.5rem;
  color: white;
}

details {
  max-width: 40ch;
}

summary {
  cursor: pointer;
}

details p {
  line-height: 1.5;
  margin: 0.5rem 0;
}

.tabover {
  padding-left: 2ch;
}
/* Contact Form */
form {
  display: grid;
  max-width: 90vw;
  border-left: 1px solid var(--function_brackets);
  padding-left: 2ch;
  transition: 200ms;
}

form label {
  color: var(--variable);
  cursor: pointer;
}

form label:hover {
  color: var(--parameter);
}

form button {
  background-color: var(--function);
  border: 2px solid var(--function);
  cursor: pointer;
  font-weight: bolder;
  font-size: 1.2rem;
  margin: 0.5rem;
  padding: 1rem;
}

form button:hover {
  background-color: var(--function_brackets);
  border: 2px solid var(--function_brackets);
  transition: 300ms;
}

textarea {
  resize: vertical;
}

.contact input:focus {
  border: 1px dotted var(--logo_html);
}

@media screen and (max-width:750px) {
  nav {
    flex-direction: column;
    height: max-content;
  }

  nav > button {
    width: 100vw;
    padding: 0;
  }

  main {
    font-size: 2rem;
  }

  main > h1 {
    font-size: 2.5rem;
  }

  .contact {
    font-size: 1.4rem;
  }

  .carousel {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width:500px) {
  main {
    font-size: 1.5rem;
  }

  .about .comment {
    font-size: 1.25rem;
  }

  .contact {
    font-size: 1rem;
  }

}
.const { color: var(--constant)}
.variable { color: var(--variable)}
.parameter { color: var(--parameter)}
.function { color: var(--function);}
.conditional { color: var(--conditional);}
.string { color: var(--string);}
.comment { color: var(--comment);}
.function_brackets { color: var(--function_brackets);}
.conditional_brackets { color: var(--conditional_brackets);}